<h1>QR Code Generator</h1>

<p>Welcome! We'll generate various types of QR codes for you if you visit the following URLs:</p>

<dl>
  <dt>Any text</dt>
  <dd>
    <code>/text?content=Your text goes here</code>

    <p>Substitute your own text for <code>Your text goes here</code> .</p>
  </dd>

  <dt>URL</dt>
  <dd>
    <code>/url?page=https://www.wikipedia.org</code>

    <p>Substitute your own URL for <code>https://www.wikipedia.org</code> .</p>
  </dd>

  <dt>Wifi network</dt>
  <dd>
    <code>/wifi?ssid=Your network  name&pw=secret password</code>

    <p>Substitute your own network name for <code>Your network  name</code> and your own password for <code>secret password</code> .</p>
  </dd>

  <dt>Text message</dt>
  <dd>
    <code>/sms?phone=9876543210&message=Hi Alice! It's me,</code>

    <p>Substitute your own phone number for <code>9876543210</code> and your own starter message for <code>Hi Alice! It's me,</code> .</p>
  </dd>
<dl>
